<main>
  {{!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="What ingredient are you using??"
      aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="submit">Search</button>
  </form> --}}

{{!-- New search Bar and Button --}}
<div id="search-container" class="flex items-center justify-center  mx-auto ">
  <div class="food-bowl"><img src="/assets/images/bowl.png" alt="bowl of noodles"></div>
  <div class="search-content ml-80">
    <h2 class="letsget" style="color: white; font-weight: bold; font-size: 36px;">Lets get</h2>
    <h2 class="cooking" style="color: #ffb600; font-weight: bold; font-size: 66px;">Cooking</h2>
    <div class="search-form flex items-center mt-8">
      <div class="search-field-container relative w-full">
        <input type="search" class="block w-full py-4 px-6 border-2 border-gray-300 rounded-full placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600 transition duration-300" id="search-input" placeholder="What ingredient are you using??">
        <button type="submit" id="search-btn" class="absolute right-0 top-0 h-full px-6 py-4 text-white font-semibold bg-yellow-500 hover:bg-yellow-600 rounded-full transition duration-300 flex items-center">
          Search
        </button>
      </div>
    </div>
  </div>
</div>











</main>
<br>
{{log projects}}

{{!-- {{#each projects as |recipe|}}
{{> card}}
{{/each}} --}}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
