<body>
    <img src = "assets/css/images/SOS-logo.png">
    <div class = "head">
    <h1>Create Your Own Recipe</h1>
</div>

   <div class = "header">
 <h1>Recipe: <input class="input" type="text"> </h1>   
</div>

<div class = "ingredients">
    <h2>ingredients:</h2> 
    
    <textarea id="ingredients-list" name="ingredients"
    rows="5" cols="33">

</textarea>
</div>

<div class = "stepbystep">
   <h2>Step-by-Step:</h2>

   <textarea id="stepbystep-list" name="step-by-step"
   rows="5" cols="33">

</textarea>

</div>

<button class="glow-on-hover" type="button">Submit</button>



<script src="./js/recipe-form.js"></script>
